<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Inicio de Sesión</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput type="text" #txtusuario />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" #txtpassword />
    </mat-form-field>

    <div class="button-container">
      <button
        mat-raised-button
        color="primary"
        (click)="login(txtusuario, txtpassword)"
      >
        Iniciar Sesión
      </button>
      <button mat-raised-button color="accent" (click)="goHome()">
        Volver al Home
      </button>
    </div>
  </mat-card-content>
</mat-card>
